.title {
  font-family: Calibri;
  font-weight: bold;
  font-size: 40px;
  color: #28395b;
  color: rgb(40, 57, 91);
}

.btn-add {
  font-family: Calibri;
  color: #ffffff;
  color: rgb(255, 255, 255);
  background: #df6161;
  background: rgba(223, 97, 97, 1);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}
