<div class="login-page bg">
    <div class="login-box">
        <div class="card card-outline st">
            <div class="logo">
                <img src="../../../assets/image/logo.png" alt="" style="width: 150px;">
            </div>
            <div class="card-body">
                <p class="login-box-msg">Vous pouvez récupérer votre mot de passe
                    facilement en mentionnant votre email ci-dessous.</p>
                <form [formGroup]="authService.formAddEmail">
                    <div class="input-group mb-3 input-icons">
                        <i class="fas fa-envelope icon"></i>
                        <input type="email" class="form-control form-control-border border-width-2 input-field"
                            formControlName="email" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button (click)="forgotPassword()" type="submit" class="btn log-button btn-block"
                                style="text-transform: uppercase;">Reinitialiser mon mot de passe</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <a class="return-login" routerLink="/sign-in">Se connecter</a>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>