<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 title">
                <h1><strong> Liste des factures et devis</strong></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/Dashboard">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste des documents</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="">

                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions" #profileTable id="profiletable"
                            class="row-border order-column hover stripe" *ngIf="factDocService.listFactDocs">
                            <thead>
                                <tr>

                                    <th>Type</th>
                                    <th>Client</th>
                                    <!-- <th>Description</th> -->
                                    <th>Date création</th>
                                    <th style="width: 10%;">Document</th>
                                    <th style="width: 12%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let factDoc of factDocService.listFactDocs">

                                    <td> <strong>{{factDoc.type}}</strong></td>
                                    <td>{{factDoc.client_name}}</td>
                                    <!-- <td>{{factDoc.description }}</td> -->
                                    <td>{{factDoc.date_creation | date: 'dd/MM/yyyy'}}</td>

                                    <td class="download">
                                        <a *ngIf="factDoc.withLink == true" class="btn btn-app bg-danger testbtn"
                                            (click)="downloadPdf(factDoc.documentLink, 'document')">
                                            <i class="fas fa-file-pdf testicon"></i>
                                        </a>
                                    </td>
                                    <td class="actions">
                                        <button class="btn btn-edit" type="button"
                                            (click)="convertToFacture(factDoc._id)"
                                            [disabled]="factDoc.type != 'Devis'">

                                            <i class="fa fa-sync-alt"></i>
                                        </button>
                                        <button (click)="deleteDocument(factDoc._id)" type="button"
                                            class="btn btn-danger"><i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Client</th>
                                    <!-- <th>Description</th> -->
                                    <th>Date création</th>
                                    <th>Document</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>