.btn-generate {
  background: #df6161;
  background: rgba(223, 97, 97, 1);
  color: #ffffff;
}

.title h1 {
  font-family: Calibri;
  font-weight: bold;
  font-size: 40px;
  color: #28395b;
  color: rgb(40, 57, 91);
}
