<div class="hold-transition login-page bg">
    <div class="login-box">
        <div class="card card-outline st">
            <div class="logo">
                <img src="../../../assets/image/logo.png" alt="" style="width: 150px;">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-infos">
                        <p>Veuillez ajouter votre nouveau mot de passe et le confirmer</p>
                    </div>
                </div>
                <form [formGroup]="authService.formEditPassword">

                    <div class="input-group mb-3 input-icons">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" class="form-control form-control-border border-width-2 input-field"
                            formControlName="newPass" placeholder="Mot de passe"
                            [class.is-invalid]="authService.formEditPassword.get('newPass')!.touched && authService.formEditPassword.get('newPass')!.invalid">
                        <div *ngIf="authService.formEditPassword.get('newPass')!.touched">
                            <small class="text-danger"
                                *ngIf="authService.formEditPassword.get('newPass')!.errors?.isLength">
                                doit contenir au moins 8 caractères</small>

                        </div>
                    </div>
                    <div class="input-group mb-3 input-icons">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" class="form-control form-control-border border-width-2 input-field"
                            placeholder="confirmer le mot de passe" formControlName="confirmPassword"
                            [class.is-invalid]="authService.formEditPassword.get('confirmPassword')!.touched && authService.formEditPassword.get('confirmPassword')!.invalid">
                        <small class="text-danger" *ngIf="authService.formEditPassword.errors?.misMatch">
                            Mot de passe incorrect</small>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" (click)="resetPassword()" style="text-transform: uppercase;"
                                class="btn log-button btn-block"
                                [disabled]="authService.formEditPassword.errors?.misMatch">Modifier
                                le mot de passe</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <a class="return-login" routerLink="/sign-in">Se connecter</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>